.App {
  text-align: center;
  margin:0px;
  padding:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.logo{
  width:100%;
  height:25em;
  position:fixed;
  z-index:-1;
  top: 0;

}
.App-header {
  margin-top: 26em;
  background-color: #282c34;
  /* background-color: transparent; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width:440px){

    .App-header{
      margin-top: 20em;
    }
}
@media screen and (min-width:800px){

  .App-header{
    margin-top: 16em;
  }
}