.nav{
    margin-top: 26em;
}


@media screen and (min-width:541px){

    .nav{
      margin-top: 19em;
    }
}
@media screen and (min-width:800px){

  .nav{
    margin-top: 20em;
  }
}
@media screen and (min-width:1000px){

  .nav{
    margin-top: 20em;
  }
}
@media screen and (min-width:1400px){

  .nav{
    margin-top: 25em;
  }
}
@media screen and (min-width:2000px){

  .nav{
    margin-top: 40em;
  }
}
