.flyer{
    scale: .2;
    position: relative;
    bottom: 20em;
}

@media screen and (min-width:450px) {
    .flyer{
        scale: .4;
        bottom: 15em;
    }
    
}
@media screen and (min-width:480px) {
    .flyer{
        scale: .4;
        bottom: 14em;
    }
    
}
@media screen and (min-width:700px) {
    .flyer{
        scale: .6;
        bottom: 10em;
    }
    
}
@media screen and (min-width:1000px) {
    .flyer{
        scale: .8;
        bottom: 5em;
    }
    
}